<h1>Order Number: <%= @order.id %></h1>

<h1>Order Number: <%= @order.amount%></h1>
<strong>Order Item:</strong> <p><%= @item.name %></p>
<strong>Order Item Description:</strong> <p><%= @item.description %></p>
<strong>Order Item Image:</strong> <p><img src="<%= @item.image_url %>"></p>

